
@media screen and (min-width: $breakpoint-small){
	.col-3{
		padding-top:20px;
		h3{
			clear:both;
			text-align:center;
		}
		p{
			text-align:justify;
			margin-left:10px;
			margin-right:10px;
			float:right;
		}
		svg{
			float:left;
			margin-left:42%;
			margin-bottom:2%;
		}
	}
	
	.col-4 {
		padding-top:5px;
		h4{
			text-align:center;
		}
		p{
			text-align:justify;
			margin-left:10px;
			margin-right:10px;
		}
		button{
			width:180px;
			vertical-align:-8px;
			margin-left:35%;
			@include linear-gradient($button-color-one, $button-color-two);
		}
	}	
}



@media screen and (min-width: $breakpoint-large){
	.col-3{
		h3{
			text-align:center;
		}
		p{
			text-align:justify;
			margin-left:10px;
			margin-right:10px;
		}
		svg{
			margin-left:85px;
		}
	}
	
	.col-4 {
		h4{
			text-align:center;
		}
		p{
			text-align:justify;
			margin-left:10px;
			margin-right:10px;
		}
		button{
			width:180px;
			vertical-align:-4px;
			margin-left:25px;
			@include linear-gradient($button-color-one, $button-color-two);
		}
		&:first-child{
			button{
				vertical-align:-22px;
				margin-left:25px;
			}
		}
		&:nth-child(2){
			button{
				vertical-align:-22px;
			}
		}
	}
}


