/* Scss Document */

$base-font-size     : 1em;
$base-text-color    : #000000;
$base-link-color    : #000000;
$base-hdr-color     : #000000;
$base-line-height   : 1.3;
$button-color-one	: #1FFFD0;
$button-color-two	: #07E5FF;
$color-theme-one	: #59EBFF;
$color-theme-two	: #00E0FF;
$color-theme-three	: #00B3CC;
$color-theme-four	: #00707F;
$color-theme-five	: #597B7F;
$container_width: 960px;
$number_of_columns: 2;
$margin: 120px;
$element_width: 300px;



/* Breakpoints */
$breakpoint-small : 200px;
$breakpoint-large : 960px; 

/* Fonts */
$font-primary:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary:  "Georgia", Cambria, Times New Roman, Times, serif;